@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');
html {
  box-sizing: border-box;
  font-size: 16px;
}
body {
  font-family: 'New Rocker', monospace;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    90deg,
    rgb(240, 135, 213),
    white,
    rgb(240, 135, 213)
  );
}
/* HEADER */
header {
  height: 20%;
}
h1 {
  font-size: 3rem;
  font-weight: 900;
}
main {
  height: 60%;
  width: 75%;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
}
/* player section */
.player-wrapper {
  flex: 50%;
}
